*{
    margin: 0;
    padding: 0;

}

.inspect{
    box-sizing: border-box;
     width: 1170px;
    height: 62px;
    margin: 0 auto;
    left: 95px;
    top: 58px;
    position: absolute;
     color: white;
    border: 3px solid #FF0000;
    backdrop-filter: blur(7px);
    border-radius: 12px;
}
.box{
    position: absolute;
    width: 30px;
    height: 35px;
    left: 15px;
    top: 5px;




}
.border{
    position: absolute;
    width: 31px;
    height: 1px;
    left: 75px;
    top: 7px;

}
.border1{
    position: absolute;
    width: 31px;
    height: 1px;
    left: 73px;
    top: 20px;
}
.border2{
    position: absolute;
    margin-top: 7px;
    margin-left: 97px;
}
.head{
position: absolute;
    display: flex;
    margin-left: 350px;
    font-size: 19px;

}
.head a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
.inspect h1{
    position: absolute;
    margin-left: 929px;
    margin-top: 10px;

}
.it{
    width: 235px;
    position: absolute;
    height: 46px;
    border-radius: 7px;
    color: white;
    margin-left: 920px;
    top: 5px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
}
.only {
    background: url("./img/Ellipse 2.svg") no-repeat center/cover;
    padding: 200px 0;



}
#only{
    background: black;
  }



.lock h1{
    position: absolute;
    color: #FFFFFF;
    border: #FFFFFF;
    margin-left: 450px;
    font-size: 130px;


}
.secTon1{
    width: 250px;
    position: absolute;
    height: 1px;
    background: #FF0000;
    margin-left: 550px;
    margin-top: -560px;
}
.lock h2{
    position: absolute;
    color: white;
    margin-left: 470px;
    margin-top: 170px;
    font-size: 27px;
}
.libero{
    margin-left: 600px;
    margin-top: 220px;
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 17px;
     width: 160px;
    height: 40px;
    border-radius: 27px;
    border: none;
    color: #000000;
}
.lock h3{
    position: absolute;
    color: white;
    width: 608px;
    height: 87px;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    margin-top: 290px;
    margin-left: 390px;

}
.image2{
    margin-top: -880px;
    margin-left: 717px;
    position: absolute;

}
.lock svg{
    margin-left: 55px;
    align-items: center;
}
.secTon2{
    position: absolute;
    width: 150px;
    height: 2px;
    background: #FF0000;
    margin-top: -55px;
    margin-left: 595px;
}
.secTon2 h2{
    width: 155px;
    top: -160px;
    left: -441px;
}
.ask1 {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    width: 1159px;
    height: 116px;
    position: absolute;
    margin: 40px 100px;
}
#enterprise{
    background: black;
    width: 1349px;
    height: 909px;
    margin: 0;
    padding: 0 ;
}
.under{
    justify-content: space-evenly;
    display: flex;
}
.under1{
    color: white;
    justify-content: space-evenly;
    display: flex;
    margin-top: 25px;
}
.under1 h1{
    padding: 0 85px 0 85px;
}
.work{
    width: 100px;
    height: 2px;
    background: #FF0000;
    margin-left: 215px;
}
.work1{
    width: 110px;
    height: 2px;
    background: #FF0000;
    margin-left: 612px;
}
.work2 {
    width: 110px;
    height: 2px;
    background: #FF0000;
    margin-left: 1017px;
}
.work3{
    width: 232px;
    height: 3px;
    background: #FF0000;
    margin-left: 250px;
    margin-top: 90px;
}
.work4 {
    width: 232px;
    height: 3px;
    background: #FF0000;
    margin-left: 895px;
    margin-top: -3px;
}
.start{
    color: white;
    justify-content: space-around;
    display: flex;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
.start h1{
    padding: 10px 210px 0 240px;
}
.stark{
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 548px;
    margin-left: 70px;
    margin-top: 20px;
}
.stark h4{
    margin-left: 700px;
    width: 548px;
    margin-top: -90px;
}
.ping{
    width: 176px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 27px;
    margin-left: 600px;
    margin-top: 60px;
}
.deva{
    margin-top: -350px;
    margin-left: 702px;
    position: absolute;
}
.deva2{
    margin-top: -330px;
}
#portFolio{
    background: black;
    width: 1349px;
    height: 1450px;
    margin: 0;
    padding: 0;
}
.blur{
    width: 250px;
    height: 2px;
    background: #FF0000;
    margin-left: 555px;
}
.box5 h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    margin-left: 20px;
}
.elli{
    margin-top: -260px;
}
.eli{
    margin-top: -760px;
    margin-left: 100px;
}
.lenovo{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    margin-left: 560px;
    margin-top: -280px;
}
.ele{
    width: 176px;
    height: 44px;
    margin-left: 880px;
    text-align: center;
    background: #FF0000;
    border-radius: 51px;
    margin-top: 50px;
    color: white;
}
.mouse{
    margin-left: 435px;
    margin-top: -140px;
}
.mouse1{
    margin-top: -750px;
    margin-left: 820px;
}
.drink{
    text-align: center;
    color: white;
    width: 750px;
    margin-top: -340px;
}
.eat{
    width: 176px;
    height: 44px;
    text-align: center;
    background: #FF0000;
    border-radius: 51px;
    color: white;
    margin-left: 280px;
    margin-top: 50px;
}
.fifa{
    margin-top: -130px;
}
.fifa1{
    margin-top: -720px;
    margin-left: 120px;
}
.milk{
    color: white;
    margin-left: 700px;
    margin-top: -250px;
    text-align: center;
}
.btn{
    width: 176px;
    height: 44px;
    border-radius: 27px;
    background: #FF0000;
    color: white;
    border: none;
    margin-left: 940px;
    margin-top: 50px;
}
#uefa{
    background: black;
    width: 1349px;
    height: 2020px;
    margin: 0;
    padding: 0;
}
.but{
    margin-top: -290px;
    margin-left: 437px;
}
.but1{
    margin-top: -750px;
    margin-left: 777px;
}
.but2{
    color: white;
    text-align: center;
    margin-top: -280px;
    margin-left: -590px;
}
.club{
    width: 176px;
    height: 44px;
    background: #FF0000;
    color: white;
    border-radius: 27px;
    border: none;
    margin-left: 300px;
    margin-top: 50px;
}
.lore1{
    margin-top: -775px;
    margin-left: 590px;
}
.street{
    width: 150px;
    height: 2px;
    background: #FF0000;
    margin-left: 595px;
    margin-top: -100px;
    position: absolute;
}
.window{
    color: white;
    margin-left: 625px;
    position: absolute;
    margin-top: -100px;
}
.aux{
    width: 12px;
    height: 12px;
    background: #FF0000;
    filter: blur(2px);
    border-radius: 50px;
    margin-left: 640px;
    margin-top: 400px;
}
.aux1 {
    width: 12px;
    height: 12px;
    background: #FF0000;
    filter: blur(2px);
    border-radius: 50px;
    margin-left: 690px;
    margin-top: -12px;
    position: absolute;
}
.aux2{
    width: 19px;
    height: 19px;
    background: #FF0000;
    border-radius: 50px;
    margin-left: 662px;
    margin-top: -15px;
}
.air{
    width: 150px;
    height: 34px;
    background: white;
    color: black;
    border-radius: 27px;
    margin-left: 595px;
    margin-top: 35px;
}
.aux3{
    width: 420px;
    height: 2px;
    background: #FF0000;
    margin-left: 460px;
    margin-top: 70px;
    position: absolute;
}
.ewe{
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 70px;
    margin-left: -10px;
}
#look{
    width: 1349px;
    height: 1030px;
    background: black;
}
.cold input{
    color: black;
    border-radius: 7px;
    width: 370px;
    height: 55px;
    font-size: 20px;
    background: #FFFFFF;
    border: 2px solid #FF0000;
    padding: 10px;
    margin-left: 250px;
    margin-top: 30px
}
.cold1 input{
    position: absolute;
    color: black;
    border-radius: 7px;
    width: 370px;
    height: 55px;
    font-size: 20px;
    background: #FFFFFF;
    border: 2px solid #FF0000;
    padding: 10px;
    margin-left: 700px;
    margin-top: 30px;
}
.old{
    color: white;
    font-size: 18px;
    margin-left: 270px;
    position: absolute;
    margin-top: 5px;
}
.old1{
    color: white;
    font-size: 18px;
    margin-left: 720px;
    margin-top: 5px;
    position: absolute;
}
.cold4 input{
    position: absolute;
    color: black;
    border-radius: 7px;
    width: 820px;
    height: 133px;
    font-size: 18px;
    background: #FFFFFF;
    border: 2px solid #FF0000;
    margin-left: 250px;
    margin-top: 45px;
    padding:10px;
}
.old4{
    color: white;
    font-size: 18px;
    margin-left: 270px;
    position: absolute;
    margin-top: 19px;
}
.finish {
    color: white;
    font-size: 24px;
    margin-top: 210px;
    margin-left: 270px;
}
.four{
    width:17px;
    height: 17px;
    border: 2px white;
    border-radius: 27px;
    margin-left: 530px;
    margin-top: -19px;
    background: white;
}
.four2{
    width: 17px;
    height: 17px;
    border: 4px solid white;
    color: white;
    background: #FF0000;
    border-radius: 27px;
    box-sizing: border-box;
    margin-left: 400px;
    margin-top: -18px;
}
.ufc{
    color: white;
    margin-left: 430px;
    margin-top: -20px;
}
.ufc3{
    color: white;
    margin-left: 555px;
    margin-top: -21px;
}
.info{
    width:150px;
    height: 44px;
    border-radius: 7px;
    margin-left: 250px;
    margin-top: 10px;
    background: white;
}
.polo{
    margin-left: 300px;
    margin-top: 35px;
}
.lord{
    position: absolute;
    margin-top: 24px;
    margin-left: 40px;
}
.lord1{
    position: absolute;
    margin-top: 25px;
    margin-left: 550px;
}
.lord2{
    position: absolute;
    margin-left: 150px;
}